h1{
    color:rgb(253, 38, 9);
}

#gamebutton, #hitbutton, #staybutton {
color:black;
}
.container {
    position: relative;
    text-align: center;
    background-color: green;
    height: 720px;
  }
  #playerhand, #dealerhand{
   color: aliceblue;


  }